
      body {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        background-color: brown;
        color: rgb(51, 51, 51);
        display: flex;
        flex-direction: column;
      }
      .calendar {
        margin: 1vh auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        background-color: bisque;
        line-height: 1.5em;
        border-radius: 10px;
        width: 200px;
        overflow: hidden;
      }
      h4 {
        color: bisque;
        margin: 25vh 0 auto;
        font-size: 1em;
        text-align: center;
      }

      .calendar #month {
        padding: 20px 0;
        position: relative;
        color: bisque;
        background-color: crimson;
        font-size: 1.4em;
        font-weight: bold;
        box-shadow: 0 5px 10px rgba(151, 13, 41, 0.534);
      }
      .calendar #day {
        line-height: 2em;
        font-size: 1.3em;
      }
      .calendar #num {
        line-height: 0.8em;
        font-size: 4em;
        font-weight: 500;
      }
      .calendar #year {
        font-size: 1em;
        line-height: 2em;
        font-weight: 3;
      }
      .time {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 200px;
        color: bisque;
        margin: 5px auto;
        letter-spacing: 5px;
      }
      .time h6 {
        margin: 0 auto;
        color: brown;
        background-color: bisque;
        padding: 0.5em 0;
        width: 60%;
        border-radius: 30px;
      }
      .time p {
        padding: 0.4em 0;
      }

      footer {
        color: bisque;
        background-color: rgb(136, 30, 30);
        text-align: center;
        margin: 40vh 0 auto;
        font-weight: 10;
        font-size: 0.7em;
        padding: 0.4em;
      }

